# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

fastlane/api_key_info.json
*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/

# for my personal AWS development
production/google-services.json
staging/google-services.json
android/app/src/staging/*
android/app/src/production/*
android/app/src/prerelease/*
amplify/*
src/aws-exports.js
.firebaserc
android/app/production/
*.dSYM.zip
.env.production
.env.staging
.env.prerelease
fastlane/.env
GoogleService-Info-Production.plist
GoogleService-Info-Staging.plist
GoogleService-Info-Prerelease.plist

# Testing
.nyc_output
coverage
.tmp
/ios/I/
test-report.xml
