@font-face {
    font-family: 'SegoeUI';
    src: url('./assets/fonts/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI-Italic';
    src: url('./assets/fonts/SegoeUI-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI-Semibold';
    src: url('./assets/fonts/SegoeUI-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI-SemiboldItalic';
    src: url('./assets/fonts/SegoeUI-SemiboldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Poppins';
    src: url('./assets/fonts/SVN-Poppins.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-PoppinsItalic';
    src: url('./assets/fonts/SVN-PoppinsItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-PoppinsMedium';
    src: url('./assets/fonts/SVN-PoppinsMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-PoppinsMediumItalic';
    src: url('./assets/fonts/SVN-PoppinsMediumItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-PoppinsSemiBold';
    src: url('./assets/fonts/SVN-PoppinsSemiBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-PoppinsSemiBoldItalic';
    src: url('./assets/fonts/SVN-PoppinsSemiBoldItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono-Regular';
    src: url('assets/fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Avoid browser auto add eye icon*/
input::-ms-reveal,
input::-ms-clear {
    display: none;
}
